@model System.Collections.Generic.List<Core.Entities.TimeTracking>;

@{
    ViewBag.Title = "Time Tracking";
    Layout = "_Layout";
}

<h2 class="text-decoration-underline">Records</h2>
<form asp-controller="TimeTracking" asp-action="GetAll" method="get">
<table class="table">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Employee</th>
        <th>Project</th>
        <th>Project owner</th>
        <th>Task</th>
        <th>Worked hours</th>
        <th>Start</th>
        <th>End</th>
        <th>Comment</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    @foreach (TimeTracking timeTracking in ViewBag.TimeTracking)
    {
        <tbody>
        <tr>
            <td>@timeTracking.Customer.Name</td>
            <td>@timeTracking.Employee.Name</td>
            <td>@timeTracking.ProjectName.Name</td>
            <td>@timeTracking.ProjectOwner.Name</td>
            <td>@timeTracking.TaskType.Name</td>
            <td>@timeTracking.WorkedHours.Value</td>
            <td>@timeTracking.StartDate.Value</td>
            <td>@timeTracking.EndDate.Value</td>
            <td>@timeTracking.Comment</td>
            <td>@timeTracking.RecordStatus</td>
            <td></td>
        </tr>

        </tbody>
    }
</table>
</form>