@model System.Collections.Generic.List<Core.Entities.ProjectOwner>

@{
    ViewBag.Title = "Project Owners";
    Layout = "_Layout";
}

<div class="card mt-5">
    <div class="card-header">
        <h2 class="card-title">@ViewBag.Title</h2>
    </div>
    <div class="card-body">
        <a asp-controller="ProjectOwner" asp-action="Create" class="btn btn-info mb-3">New owner</a>
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="projectOwnerTable">
                <thead>
                <tr>
                    <th hidden="hidden">Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (ProjectOwner projectOwner in ViewBag.Owners)
                {
                    <tr>
                        <td hidden="hidden">@projectOwner.ProjectOwnerId</td>
                        <td>@projectOwner.Name</td>
                        <td>
                            <a asp-controller="ProjectOwner" asp-action="Edit" asp-route-customerId="@projectOwner.ProjectOwnerId" class="text-info container">Edit</a>
                            <a asp-controller="ProjectOwner" asp-action="Delete" asp-route-customerId="@projectOwner.ProjectOwnerId" class="text-info container">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>